:root {
  /* 🌈 Base 16 Color Variables */
  --color0: #070819;
  --color1: #132697;
  --color2: #272a90;
  --color3: #2f316e;
  --color4: #2b4d8c;
  --color5: #614368;
  --color6: #7c6991;
  --color7: #8a97ff;
  --color8: #1e216b;
  --color9: #172fbc;
  --color10: #3034b4;
  --color11: #3a3d89;
  --color12: #3560af;
  --color13: #795382;
  --color14: #9b83b5;
  --color15: #b8caff;
}

